<!DOCTYPE html>
<html ng-app="HelloWorldApp">
<head>
	<meta charset="UTF-8">
    <title>hello</title>

   

    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	
<script>

var app = angular.module("HelloWorldApp",[]);

    app.controller("baseCtrl", function ($scope) {
	   $scope.value = "base value";
	
	$scope.changeValue1 = function () {
	   $scope.value = "changeValue1 - " + new Date().toLocaleTimeString();
	}
   });
   app.controller("derivedCtrl", function ($scope) {
   
   $scope.changeValue2 = function () {
	   $scope.value = "changeValue2 - " + new Date().toLocaleTimeString();
	   }
	});
</script>
</head>
<body>
  <div ng-controller="baseCtrl">
    <p>{{value}}</p>
	<button ng-click="changeValue1()">change value 1</button>
	
	<div ng-controller="derivedCtrl">
    <p>{{value}}</p>
	<button ng-click="changeValue1()">change value 1</button>
	
	<button ng-click="changeValue2()">change value 2</button>
    </div>
  </div>
</body>
</html>